<h1>This is the homepage</h1>
Hi

<ul>
    <% @articles.each do |article| %>
        <li><%= article.title %></li>
    <% end %>
</ul>

<%= link_to "Articles", articles_path %> | <%= link_to "Alpha Blog" %>